@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Styles */
body {
    font-family: 'Jost', sans-serif; /* Use Jost font */
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header Styles */
#header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-radius: 10px;
}

/* Form Styles */
.login-form {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flex-row {
    margin-bottom: 15px;
}

.lf--label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.lf--input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button Styles */
.button {
    text-align: center;
}

.lf--change,
.lf--login {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.lf--change:hover,
.lf--login:hover {
    background-color: #555;
}

/* Error Message Styles */
#errorMessage {
    color: #ff0000;
    margin-bottom: 10px;
}
