@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body.wrapper {
    font-family: 'Jost', sans-serif; 
    background-color: #f8f8f8; 
    margin: 0;
    padding: 0;
}

#header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: 20px auto; 
    width: 80%;
    max-width: 400px; 
    background-color: #fff;
    padding: 20px;
    border-radius: 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

label {
    display: block;
    margin-bottom: 10px; 
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 20px; 
    border-radius: 5px; 
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

#submit-button {
    width: 100%;
    padding: 10px;
    background-color: #ff9f9f; 
    color: #fff; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

#submit-button:hover {
    background-color: #ff6b6b;
}

#error-messages {
    text-align: center;
    color: red;
}

.back-to-login {
    text-decoration: none; 
    color: #333; 
    display: block;
    margin: 20px auto;
    text-align: center;
}

.back-to-login:hover {
    text-decoration: underline; 
}
