@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Styles */
body {
    font-family: 'Jost', sans-serif; /* Use Jost font */
    background-color: #f8f8f8; /* Light gray background */
    margin: 0;
    padding: 0;
}

/* Header Styles */
h1 {
    text-align: center;
    margin-top: 50px; /* Adjust margin for spacing */
    color: #333; /* Dark text color */
}

/* Form Styles */
form {
    margin: 20px auto; /* Center the form */
    width: 80%;
    max-width: 400px; /* Limit form width */
    background-color: #fff; /* White background */
    padding: 20px;
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

label {
    display: block;
    margin-bottom: 10px; /* Add space between labels */
    color: #333; /* Dark text color */
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px); /* Full width input with padding */
    padding: 10px;
    margin-bottom: 20px; /* Add space between inputs */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff9f9f; /* Light pink button */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
}

button:hover {
    background-color: #ff6b6b; /* Darker pink on hover */
}

a {
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Dark text color */
}

a:hover {
    text-decoration: underline; /* Underline on hover */
}

p{
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ddd; 
    padding: 10px 0; 
    text-align: center;
}
